<!DOCTYPE html>
<html>
<head>
	<title>Formulaire d'inscription</title>
	<meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	 <script type="text/javascript" src="js/jquery.js"></script>
    
     <link rel="stylesheet" type="text/css" href="css/inscription.css">
</head>
<body>
	
	<div style="font-size: 35px; margin-left: 30px; margin-top: -30px"><a href="index"><span class="glyphicon glyphicon-circle-arrow-left"></span></a></div>
	<div class="container">
		<div class="heading"><h2>inscription</h2><div class="divider"></div></div>
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				{% for error in errors %}
					<span style="color:red;font-size: 1.2em;font-weight: bolder">{{error.msg}}</span><br>
				{% endfor %}
				<span>{{erreur}}</span>
				<form id="form-contact" method="post" action="/inscription" role="form">
					<div class="row">
						<div class="col-sm-6">
							<label for="nom">Nom<span class="blue"> *</span></label>
							<input type="text"   id="nom" name="nom" class="form-control"  placeholder="Nom" value="">
							<span id="nom-manquant"></span>
						</div>

						<div class="col-sm-6">
							<label for="prenom">Prenom<span class="blue"> *</span></label>
							<input type="text"  id="prenom" name="prenom" placeholder="Prenom" class="form-control" value="">
							<p class="comments"></p>
						</div>

						<div class="col-sm-6">
							<label for="email">Email<span class="blue"> *</span></label>
							<input type="email"   id="email" name="email" class="form-control"  placeholder="Email" value="">
							<p class="comments"></p>
						</div>

						<div class="col-sm-6">
							<label for="phone">Telephone<span class="blue"> *</span></label>
							<input type="number"  id="phone" name="phone" placeholder="Telephone" class="form-control" value="">
							<p class="comments"></p>
						</div>

						<div class="col-sm-6">
							<label for="password">Mot de Pass<span class="blue"> *</span></label>
							<input type="password"   id="password" name="password" class="form-control"  placeholder="mot de pass" value="">
							<p class="comments"></p>
						</div>

						<div class="col-sm-6">
							<label for="prenom">Confirmation de Mot de Pass<span class="blue"> *</span></label>
							<input type="password"  id="password_confirm" name="passwordc" placeholder="confirmer le mot de pass" class="form-control" value="">
							<p class="comments"></p>
						</div>

						<div class="col-sm-12">
							<input type="submit" value="S'INSCRIRE" id="bouton_envoi">
						</div>
						
					</div>
					
				</form>
			</div>	
		</div>
	</div>
	{% if success %}
		<div class="modal fade" id="reussite">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					</div>
					<div class="modal-body">
						<p>inscription effectuée avec succès<br>vous pouvez désormais vous connectez a votre compte</p>
						<a class="btn btn-success" href="/connexion">connexion</a>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(function(){
				$("#reussite").modal("show");
			});
		</script>
	{% endif %}
	<footer>
				<div id="pied_de_page">
					<div class="lien">
						<h3>lien</h3>
						<ul>
							<li><a href="index.html">Accueil</a></li>
							<li><a href="menu.html">Menu</a></li>
							<li><a href="#">s'inscrire</a></li>
							<li><a href="connexion.html">se connecter</a></li>
						</ul>
					</div>

					<div class="footer">
						<h3>restauration</h3>
						<ul>
							<li>Africaine</li>
							<li>Européenne</li>
							<li>Asiatique</li>
						</ul>
					</div>

					<div class="footer">
						<h3>Communes</h3>
						<ul>
							<li>Plateau</li>
							<li>Cocody</li>
							<li>Marcory</li>
							<li>yopougon</li>
							<li>etc ...</li>
						</ul>
					</div>
				</div></br>
							
			</footer>
				<div style="text-align: center; background-color: #908F8E; padding:25px 0px">
					<h4>© copyright. tout droit revervé | projet javaScript</h4>
				</div>
	
	<script type="text/javascript" src="js/popper.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/mdb.min.js"></script>
	<script type="text/javascript" src="js/tets.js"></script>-->

	
</body>
</html>