<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>
	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<div style="font-size: 35px; margin-left: 30px; margin-top: 30px"><a href="index"><span class="glyphicon glyphicon-circle-arrow-left"></span></a></div>
		<div class="col-lg-12">
			<header id="image-menu">
				<p></p>
			</header>
			<div class="container">
				<h1 style="text-align: center; margin-top: 50px;">QUELQUES MENUS</h1>
				<p style="margin-top: 50px;">Vivez l’expérience d’une cuisine saine, nourrissante et gourmande
					qui change au gré des saisons privilégiant des produits de qualité à prix raisonnable.<br>

					Au menu vous attendent tartines variées, salades composées,
					grillades, plats chauds, desserts et crème glacée maison,
					mets à emporter et brunch de fin de semaine.<br>

					Nos salades, tartines, soupes et plats du jour sont aussi tous
					disponibles pour emporter.
				</p>
			</div>
		</div>

		<div class="container">
			<div class="row" id="menu">
				<div class="col-md-12"><h3>PETIT DEJEUNER</h1></div>
				<div class="col-sm-6 col-md-6">
					<div class="thumbnail">
						<img src="images/café.jpg" alt="...">
						<div class="caption">
							<h4>CAFE</h4>
							<p>Café: lait, sucre, pain, lipton ou nescafé</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="thumbnail">
						<img src="images/omelette.jpg" alt="...">
						<div class="caption">
							<h4>OMELETTE</h4>
							<p>Omelette: café, oeuf, pain et condiment</p>
						</div>
					</div>
				</div>
				<div class="col-md-12"><h3>DEJEUNER</h1></div>
				<div class="col-sm-6 col-md-6">
					<div class="thumbnail">
						<img src="images/Attiéké.jpg" alt="...">
						<div class="caption">
							<h4>ATTIEKE</h4>
							<p>Attiéké ou Garba: poison frite, Attiéké, piment, tomate et oignon</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="thumbnail">
						<img src="images/foutou.jpg" alt="...">
						<div class="caption">
							<h4>FOUTOU</h4>
							<p>Foutou: foutou igname ou banane, sauce aubergine ou arrachide, poisson ou viande</p>
						</div>
					</div>
				</div>
				<div class="col-md-12"><h3>GOUTER</h1></div>
				<div class="col-sm-6 col-md-6">
					<div class="thumbnail">
						<img src="images/alloco1.jpg" alt="...">
						<div class="caption">
							<h4>ALLOCO</h4>
							<p>Alloco: frite, poisson, pate de piment, Boison</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="thumbnail">
						<img src="images/biscuit.jpg" alt="...">
						<div class="caption">
							<h4>BISCUITS</h4>
							<p>Biscuits: au lait, au chocolat, salé</p>
						</div>
					</div>
				</div>
				<div class="col-md-12"><h3>DINER</h1></div>
				<div class="col-sm-6 col-md-6">
					<div class="thumbnail">
						<img src="images/garba.jpg" alt="...">
						<div class="caption">
							<h4>GARBA</h4>
							<p>Garba: poison thon, Atchequé, piment, tomate et oignon</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="thumbnail">
						<img src="images/tchep.jpg" alt="...">
						<div class="caption">
							<h4>RIZ</h4>
							<p>Riz: tchep, riz et sauce, viande ou poisson</p>
						</div>
					</div>
				</div>
				<div class="col-md-12"><h3>DESSERT</h1></div>
				<div class="col-sm-6 col-md-6">
					<div class="thumbnail">
						<img src="images/fruit.jpg" alt="...">
						<div class="caption">
							<h4>FRUIT</h4>
							<p>Fruit: banane douce, orange, mangue, pomme ...</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="thumbnail">
						<img src="images/cocacola.jpg" alt="...">
						<div class="caption">
							<h4>SUCRERIE</h4>
							<p>Sucrerie: orangina, fanta, cocacola, youki, sprite</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
				<div id="pied_de_page">
					<div class="lien">
						<h3>lien</h3>
						<ul>
							<li><a href="index.html">Accueil</a></li>
							<li><a href="#">Menu</a></li>
							<li><a href="inscription.html">s'inscrire</a></li>
							<li><a href="connexion.html">se connecter</a></li>
						</ul>
					</div>

					<div class="footer">
						<h3>restauration</h3>
						<ul>
							<li>Africaine</li>
							<li>Européenne</li>
							<li>Asiatique</li>
						</ul>
					</div>

					<div class="footer">
						<h3>Communes</h3>
						<ul>
							<li>Plateau</li>
							<li>Cocody</li>
							<li>Marcory</li>
							<li>yopougon</li>
							<li>etc ...</li>
						</ul>
					</div>
				</div></br>
							
			</footer>
				<div style="text-align: center; background-color: #908F8E; padding:25px 0px">
					<h4>© copyright. tout droit revervé | projet javaScript</h4>
				</div>
</div>
</body>
</html>